<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tehmou.bettercontentprovider" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tehmou.rxandroidstores.example.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.tehmou.rxandroidstores.example.example1.RecordExampleContentProvider"
            android:name="com.tehmou.rxandroidstores.example.example1.RecordExampleContentProvider"
            android:exported="false">
        </provider>

        <provider
            android:authorities="com.tehmou.rxandroidstores.example.example2.Record2ExampleContentProvider"
            android:name="com.tehmou.rxandroidstores.example.example2.Record2ExampleContentProvider"
            android:exported="false">
        </provider>

        <provider
            android:authorities="com.tehmou.rxandroidstores.example.example3.Record3ExampleContentProvider"
            android:name="com.tehmou.rxandroidstores.example.example3.Record3ExampleContentProvider"
            android:exported="false">
        </provider>
    </application>

</manifest>
